.gatito_lindo1 {
    width: 200px;
    height: 200px;
}

.gatito_lindo2{
    width: 200px;
    height: 200px;
}

.gatito_lindo3{
    width: 200px;
    height: 200px;
}

body {
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    /* Cambiar la opacidad del color de fondo a 50% */
    background-color: rgba(207, 207, 207, 0.753);
    background-repeat: no-repeat;
    background-size: cover;
  }