body {
    margin: 0px;
    background-color: rgba(157, 230, 171, 0.5);
    /* Cambiar la opacidad del color de fondo a 50% */
    background-color: rgba(184, 233, 194, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
  }

.p {
    background-color: #febfff8a;
  border-style: solid;
  border-color: #14693da8;
  border-width: 4px;
  padding: 1%;
  padding-right: 1%;
  border-radius:1%;
  display: inline-block;
  vertical-align: top  
}

.p2 {
    font-family: 'Abril Fatface', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif', serif;
}

.parrafo1 {
    font-family: 'Abril Fatface', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif', serif;
}